* {
    
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    height:100vh; 
    display: flex;
    background-color: #f4c531;
}
header h1 {
   background-color: antiquewhite

}

img{
    width: 100px;
}

.memory-game {
    width: 500px;
    height: 500px;
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap ;
    perspective: 1000px; /*3D effect*/
    background-color: #ffff;
    border-radius: 6px;

}

.memory-card {
    width: calc(25% - 10px);  /* it has 4 cards each row */
    height: calc(33.33%-10px); /* it has 3 rows */
    margin: 5px;
    position: relative;
    transform: scale(1);
   transform-style: preserve-3d; /*3D effect*/
   transition: all .5s ease; /*3D effect*/
}

.memory-card:active { /*click effect*/
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}



.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: pink;
    backface-visibility: hidden; /*every img has backface visibility, I need to hide it*/
}

.front-face {
    transform: rotateY(180deg);
}

.total-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    left: 10%;

}

.control-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    align-content: center;
    flex-wrap: wrap;
}
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-content:center;
    flex-wrap: wrap;
}

button {
    border: none;
    border-radius: 5px;
    padding: 16px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#stop {
font-size: 17px;
display : flex ;
margin: 17px;
background-color: pink;
color: black;
}

#start {
    font-size: 17px;
    display : flex ;
    margin: 17px;
    background-color: pink;
    color: black;
    }


