* {
    
    box-sizing: border-box;
    font-family: 'Chewy', cursive;
    
}
body {
    height:100vh; 
    display: flex;
    background-color: #f4c531;
    font-size: 30px;
    
}
header h1 {
   background-color: antiquewhite

}

img{
    width: 100px;
}

.memory-game {
    width: 500px;
    height: 500px;
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap ;
    perspective: 1000px; /*3D effect*/
    background-color: #ffff;
    border-radius: 6px;

}

.memory-card {
    width: calc(25% - 10px);  /* it has 4 cards each row */
    height: calc(33.33%-10px); /* it has 3 rows */
    margin: 5px;
    position: relative;
    transform: scale(1);
   transform-style: preserve-3d; /*3D effect*/
   transition: all .5s ease; /*3D effect*/
}

.memory-card:active { /*click effect*/
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}



.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: pink;
    backface-visibility: hidden; /*every img has backface visibility, I need to hide it*/
}

.front-face {
    transform: rotateY(180deg);
}

.total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    left: 10%;

}

.control-container ,.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    align-content: center;
    flex-wrap: wrap;
}

button {
    border: none;
    border-radius: 5px;
    padding: 16px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    background-color: pink;
    font-size: 17px;
    display : flex ;
    margin: 17px;
    color: black;
    
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(172, 78, 78, 0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
}




#message-board {
    background-color: aliceblue;
    color: #ff13f7;
    font-family: 'Chewy', cursive;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 2px 0px rgb(255 255 255 / 70%), 0px -2px 0px rgb(0 0 0 / 70%);
position: absolute;
width: 50vw;
height: 50vh;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
flex-wrap: wrap;
justify-content: center;
margin: 150px 300px;
border-radius: 5px;

}

#start {
    align-items: center;
    display: flex;
    justify-content: center;
}